body { 
background-image: url("../img/space.jpg");
background-repeat: no-repeat;
background-size: cover;
background-color: #000000; /* light gray */ 
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
font-weight: 500; 
font-size: 14px;
text-align: center;
color: #afaaaf; /* dark gray */ }

h1, h2, h3, h4, h5, h6 { font-family: Georgia, serif; font-style: italic; color: #540066; }/*afaaaf; }*/

h1 { background-color: #1c1c1c; padding: 4px 8px; }

h4 { color: #afaaaf; }

.box {
    width: 60%;
    padding: 25px;
    margin: 25px;
    background-color: #1c1c1c;
    box-shadow: 10px 10px 5px #111111;
    border-radius: 25px;
}

.glossary-box {
	display: inline-block;
	width: 10%;
    padding: 25px;
    margin: 25px;
    background-color: #1c1c1c;
    margin: left;
    box-shadow: 7px 7px 5px #111111;

    border-radius: 25px;

}

.center {
    margin: auto;
    width: 50%;
    border: 0px solid black;
    padding: 10px;
}

a {
	text-decoration: none;
    color: #aa0cff;
}

a:link {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
	font-weight: 500; 
	font-size: 14px;
    text-decoration: none;
    color: #aa0cff;
}

a:visited {
    text-decoration: none;
    color: #aa0cff;
}

a:hover {
    text-decoration: underline;
    color: #aa0cff;
}

a:active {
    text-decoration: underline;
    color: #aa0cff;
}